
.welcome {
float: right;
}
header {
	
	float: left;
	width: 99.3%;
	height: auto;
}

.logout input[type=submit] {
	margin-left: 5px;
	margin-right: 5px;
	float: left;
    background-color: #333;
  box-shadow: 0 5px 0 grey;
  color: white;
  padding: 0.2em 0.6em;
  
	
  text-decoration: none;
  text-transform: uppercase;
}

.logout a:hover {
  background-color: #333;
  cursor: pointer;
}

.logout a:active {
  box-shadow: none;
  top: 5px;
}
.login {
	float: left;
	margin-left:5px;
    background-color: #333;
  box-shadow: 0 5px 0 grey;
  color: white;
  padding: 0.2em 0.6em;
 
	
  text-decoration: none;
  text-transform: uppercase;
}

.login a:hover {
  background-color: #333;
  cursor: pointer;
}

.login a:active {
  box-shadow: none;
  top: 5px;
}
.login-form input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-form input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-form input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-form input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-form input[type=submit] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 .login-form input[type=submit]:hover {
  background-color: #333;
}

.login-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.edit {
	margin-left:5px;
	float: left;
    background-color: #333;
  box-shadow: 0 5px 0 grey;
  color: white;
  padding: 0.2em 0.6em;
	
  text-decoration: none;
  text-transform: uppercase;
}

.edit a:hover {
  background-color: #333;
  cursor: pointer;
}

.edit a:active {
  box-shadow: none;
  top: 5px;
}
.empty {
float: right;
padding: 0px;

}
.empty {
    background-color: #333;
  box-shadow: 0 5px 0 grey;
  color: white;
  padding: 0.5em 1em;
  margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.empty a:hover {
  background-color: #333;
  cursor: pointer;
}

.empty a:active {
  box-shadow: none;
  top: 5px;
}
.kundvagn {
	height: 20px;
	
	
	float: right;
	margin-right: 5px;
}
.kundvagn {
    background-color: #333;
  box-shadow: 0 5px 0 grey;
  color: white;
  padding: 0.5em 1em;
  marign: 5px;
  
  text-decoration: none;
  text-transform: uppercase;
}

.kundvagn a:hover {
  background-color: #333;
  cursor: pointer;
}

.kundvagn a:active {
  box-shadow: none;
  top: 5px;
}


.topnav {
	 background-color: #333;
    overflow: hidden;
	clear: both;
	margin-bottom: 5px;
}




.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.main {
	
	float: left;
	margin:1%;
	width: 100%;
	height: auto;
	
	
}
.footer {
	float: left;
	border: 2px solid black;
	
	height: 10vh;
	width: 100%;


}
.name {
margin-right: 400px;
	text-align: center;
}
img {

width: 300px;
height: 300px;
}
.img_cart {

width: 100px;
height: 100px;
}


.img_con {
	margin-right: 5px;
    margin-bottom: 5px;
	float: left;
	height: 375px;
	width: 300px;
	border: 2px solid black;
	font-size: 30px;
}
.img_con_cart {
	
	float: left;
	height: 150px;
	width: 600px;
	border: 2px solid black;
	font-size: 20px;
}
.price {
	text-align: right;
}
.omoss {
	font-size: 20px;
}
#omoss {
	height: 70vh;
}
#kontakt {
 	height:70vh;
}
#map {
	
}
.copy{
	margin-left: 5px;
}
#kontext {
	font-size: 20px;
}
#editmain {
	height: 70vh;
}
.kop {
	text-align: center;
	font-size: 40px;
}
.kopbild {
	width: 180px;
	height: 180px;
}
.handla {
    background-color: #333;
  box-shadow: 0 5px 0 grey;
  color: white;
  padding: 0.5em 1em;
  margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.handla a:hover {
  background-color: #333;
  cursor: pointer;
}

.handla a:active {
  box-shadow: none;
  top: 5px;
}
.admin-header {
	text-align: center;
}
.admin-link-div {
	text-align: center;
}
.admin-link {
	
    background-color: #333;
  box-shadow: 0 5px 0 grey;
  color: white;
  padding: 0.2em 0.6em;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.start-link {
	 background-color: #333;
  box-shadow: 0 5px 0 grey;
  color: white;
  padding: 0.2em 0.6em;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.prod-link, .user-link{
	 background-color: #333;
  box-shadow: 0 5px 0 grey;
  color: white;
  padding: 0.2em 0.6em;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.new-prod {
	float: left;
	margin-left:5px;
    background-color: white;
  box-shadow: 0 5px 0 grey;
  color: black;
  padding: 0.2em 0.6em;
 
	
  text-decoration: none;
  text-transform: uppercase;
}

.new-prod a:hover {
  background-color: #333;
  cursor: pointer;
}

.new-prod a:active {
  box-shadow: none;
  top: 5px;
}
.new-prod input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.new-prod input[type=submit] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 .new-prod input[type=submit]:hover {
  background-color: #333;
}
.new-usr {
	float: left;
	margin-left:5px;
    background-color: white;
  box-shadow: 0 5px 0 grey;
  color: black;
  padding: 0.2em 0.6em;
 
	
  text-decoration: none;
  text-transform: uppercase;
}

.new-usr a:hover {
  background-color: #333;
  cursor: pointer;
}

.new-usr a:active {
  box-shadow: none;
  top: 5px;
}
.new-usr input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.new-usr input[type=submit] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 .new-usr input[type=submit]:hover {
  background-color: #333;
}